
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Character Creator</title>
</head>
<body>
    <div> 
        <h2>Welcome to the Mutant Chronicles Character Creator</h2>
        <p>Here you can create characters for the Mutant Chronicles roleplaying game by Modiphius</p>
        @Html.ActionLink("Create", "CreateCharacter");
    </div>
</body>
</html>
